.nav {
  position: fixed;
  top: 50%;
  transform: translateY(-50%) scale(0.8);
  right: 15px;
  background: black;
  padding: 5px 15px;
  opacity: 0;
  transition: opacity 0.5s, z-index 0.5s;
  z-index: -1;

  &.show {
    opacity: 1;
    z-index: 1000;
  }
}

.icon {
  cursor: pointer;
  width: 50px;
  height: 75px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 20px 0;
}

.icon-notice {
  background-image: url(/images/icon-notice-white.png);

  &:hover {
    background-image: url(/images/icon-notice-hover.png);
  }
}

.icon-schedule {
  background-image: url(/images/icon-schedule-white.png);

  &:hover {
    background-image: url(/images/icon-schedule-hover.png);
  }
}

.icon-event {
  background-image: url(/images/icon-event-white.png);

  &:hover {
    background-image: url(/images/icon-event-hover.png);
  }
}

.icon-youtube {
  background-image: url(/images/icon-youtube-white.png);

  &:hover {
    background-image: url(/images/icon-youtube-hover.png);
  }
}

.icon-fb {
  background-image: url(/images/icon-fb-white.png);

  &:hover {
    background-image: url(/images/icon-fb-hover.png);
  }
}

.icon-insta {
  background-image: url(/images/icon-insta-white.png);

  &:hover {
    background-image: url(/images/icon-insta-hover.png);
  }
}
