.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6% 0;
}

.title {
  width: 27vw;
  margin-bottom: 3%;
}

.tags {
  display: flex;
  justify-content: center;
  width: 100%;

  & > div {
    font-size: 1.4vw;
    border-radius: 17vw;
    background-color: #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17vw;
    height: 3vw;
    margin: 0 0.8vw;
  }
}
