@import "mixin";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6vw 0;
  background-color: black;
  background-image: url(/images/section2-bg.png);
  background-size: 130%;
  background-repeat: no-repeat;
  background-position: center 130%;

  @include mobile {
    padding: 12vw 0 45vw;
    background-size: 230%;
    background-position: center bottom;
  }
}

.title {
  width: 53vw;
  height: auto;

  @include mobile {
    width: 40vw;
    padding: 3vw 0;
  }
}

.subtitle {
  padding: 2vw 0;
  width: 31vw;
  height: auto;

  @include mobile {
    width: 40vw;
  }
}

.countdown {
  margin: 3vw 0;
  display: flex;
  align-items: center;
  width: 53vw;
  background: black;
  @include mobile {
    width: 80vw;
  }
}

.led {
  font-size: 24px;
  font-family: Nanum;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobile {
    font-size: 16px;
  }
}

.divide {
  color: red;
  font-size: 6vw;
}

.buttons {
  padding: 3vw 0;

  @include mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.button {
  margin: 0 2vw;

  @include mobile {
    margin: 2vw 0;
  }
}
