@import "mixin";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6vw 0;
}

.title {
  display: flex;
  align-items: center;
  padding-bottom: 3vw;
  cursor: pointer;
}

.title1 {
  font-family: Impact;
  font-size: 73px;
  margin-right: 15px;

  @include mobile {
    margin-right: 3px;
    font-size: 28px;
  }
}
.title2 {
  font-family: Nanum;
  font-size: 57px;
  color: rgb(134, 134, 134);
  @include mobile {
    font-size: 19px;
  }
}

.tags {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 6vw;

  & > div {
    font-size: 1.4vw;
    border-radius: 17vw;
    background-color: #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17vw;
    height: 3vw;
    margin: 0 0.8vw;
  }
}

.posts {
  display: grid;
  grid-template-columns: repeat(4, 20vw);
  gap: 2vw;
  grid-auto-rows: 20vw;

  & > div {
    background: gray;
  }

  @include mobile {
    grid-template-columns: repeat(2, 40vw);
    grid-auto-rows: 40vw;
    gap: 4vw;
  }
}
