@import "mixin";

.footer {
  font-family: Nanum;
  padding: 40px 7vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #333333;

  @include mobile {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

.logo > div {
  cursor: pointer;
  max-width: 200px;
}

.center {
  @include mobile {
    margin-bottom: 20px;
  }
}

.sns {
  display: flex;
  margin-bottom: 10px;
  height: 45px;

  & > div {
    cursor: pointer;
    width: 45px;
    margin: 0 5px;
  }

  @include mobile {
    margin: 30px 0;
  }
}

.locale {
  display: flex;
  margin-bottom: 30px;

  & > div {
    font-family: Nanum;
    color: white;
    display: flex;

    &:last-child {
      margin-left: 30px;
    }
  }

  @include mobile {
    justify-content: flex-start;
    margin-bottom: 10px;

    & > div:last-child {
      margin-left: 10px;
    }
  }
}

.symbol {
  font-size: 0;
  cursor: pointer;
  transform: scale(0.8);

  @include mobile {
  }
}

.info {
  color: white;
  font-size: 14px;
  line-height: 1.4;

  @include mobile {
    font-size: 12px;
  }
}

.title {
  display: flex;
  align-items: center;
  min-width: 30px;
  height: 33px;

  @include mobile {
    min-width: 25px;
    font-size: 12px;
  }
}

.support {
  min-width: 400px;
  color: white;
  display: flex;

  &Symbol {
    display: flex;
    flex-wrap: wrap;
  }
}
