@import "mixin";

.footer {
  font-family: Nanum;
  padding: 40px 6.5vw;
  display: flex;
  justify-content: space-between;
  background: #333333;

  @include middle {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

.logo > div {
  cursor: pointer;
  min-width: 200px;
  width: 200px;
}

.center {
  margin: 0 20px;
  @include middle {
    margin: 0 0 20px 0;
  }
}

.sns {
  display: flex;
  margin-bottom: 10px;
  height: 45px;

  & > div {
    cursor: pointer;
    width: 45px;
    margin: 0 5px;
  }

  @include middle {
    margin: 30px 0;
  }
}

.locale {
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 30px auto);
  gap: 15px;
  @include middle {
    grid-template-columns: 30px auto;
    gap: 10px;
  }
}

.symbol {
  display: flex;
  align-items: center;
  font-size: 0;
  cursor: pointer;
  max-width: 180px;

  @include middle {
    max-width: 120px;
  }
}

.info {
  color: white;
  font-size: 14px;
  line-height: 1.4;

  @include middle {
    font-size: 12px;
  }
}

.title {
  color: white;
  font-size: 16px;
  line-height: 32px;
}

.right {
  width: 400px;
  min-width: 400px;

  @include middle {
    width: 100%;
    min-width: 100%;
  }
}

.support {
  color: white;
  display: flex;

  &Symbol {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-column: span 3;

    @include middle {
      grid-column: unset;
      gap: 10px;
      justify-content: flex-start;
    }
  }
}
