@import "mixin";

.header {
  background: white;
}

.display {
  @include safeArea;
  height: 100px;
  flex-direction: row;
  align-items: flex-end;
  background: white;

  @include mobile {
    height: 75px;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  cursor: pointer;
  width: 180px;
  min-width: 180px;
  height: auto;
  margin-right: 3vw;
  @include mobile {
    min-width: 100px;
    width: 100px;
  }
}

.menu {
  display: flex;
  justify-content: flex-end;
  padding-right: 2.5vw;
  flex: 1;

  & > div {
    font-family: Nanum;
    white-space: nowrap;
    font-size: 20px;
    padding-bottom: 20px;
    margin-left: 5vw;
  }

  @include mobile {
    display: none;
  }
}

.hamburger {
  display: none;
  font-size: 0;
  @include mobile {
    display: block;
  }
}

.mobileMenu {
  font-size: 16px;
  display: none;
  @include mobile {
    padding: 150px 15px;
    transition: transform 0.5s;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100% - 60px);
    background-color: white;
    z-index: 1000;
  }

  & > div {
    margin: 24px 0;
    font-size: 24px;
  }
}

.menuItem {
  position: relative;

  &:hover {
    & .submenus {
      & > div {
        height: 35px;
      }
    }
  }
}

.submenus {
  position: absolute;
  transform: translateY(100%);
  bottom: 10px;
  left: 0;
  z-index: 100;

  & > div {
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 0px;
    transition: height 0.3s;
  }
}
