@import "mixin";

.container {
  padding: 120px 0;

  @include mobile {
    padding: 40px 0;
  }
}

.display {
  @include safeArea;
}

.location {
  width: 100%;
  height: 450px;

  &Map {
    width: 100%;
    height: 100%;
  }
}

.title {
  font-family: Impact;
  font-size: 60px;
  text-align: center;
  margin-bottom: 60px;

  @include mobile {
    font-size: 40px;
    margin-bottom: 20px;
  }
}

.sectionTitle {
  font-family: Nanum;
  display: flex;
  align-items: center;
  font-size: 26px;
  font-weight: bold;
  border-bottom: solid 1px lightgray;
  padding: 15px 0;
  margin: 15px 0;

  &Icon {
    width: 20px;
    height: 20px;
    background: black;
    margin-right: 10px;

    @include mobile {
      width: 12px;
      height: 12px;
      margin-right: 8px;
    }
  }

  @include mobile {
    flex-wrap: wrap;
    font-size: 18px;
    padding: 8px 0;
    margin: 8px 0;
  }
}

.address {
  font-family: Nanum;
  margin-left: 20px;
  font-weight: normal;
  font-size: 20px;

  @include mobile {
    font-size: 16px;
  }
}

.section {
  margin-bottom: 40px;
  position: relative;

  @include mobile {
    margin-bottom: 20px;
  }

  &2 {
    @extend .section;
    padding-bottom: 40px;
    margin-bottom: 100px;

    @include mobile {
      padding-bottom: 60px;
      margin-bottom: 40px;
    }
  }
}

.shuttle {
  font-family: Nanum;

  &BG {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/images/image-roadline.png");
    background-repeat: no-repeat;
    background-size: 100% 35px;
    background-position: bottom;

    @include mobile {
      background-size: 100% 20px;
    }

    &Obj {
      position: absolute;
      bottom: 15px;
      right: 80px;
      width: 220px;
      height: 200px;
      background-repeat: no-repeat;
      background-image: url("/images/image-roadsign.png"), url("/images/image-bus.png");
      background-size: 50px, 150px;
      background-position: left bottom, right bottom;

      @include mobile {
        bottom: 7px;
        right: 20px;
        width: 110px;
        height: 80px;
        background-size: 25px, 80px;
      }
    }

    z-index: -1;
  }

  &Info {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-bottom: 30px;

    @include mobile {
      font-size: 14px;
      margin-bottom: 15px;
    }
  }

  &Title {
    padding-right: 15px;
    margin-right: 15px;
    border-right: solid 1px;

    @include mobile {
      padding-right: 7px;
      margin-right: 7px;
    }
  }
}

.course {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  @include mobile {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }

  &Image {
    font-size: 0;
  }

  &Icon {
    @include mobile {
      width: 15px;
    }
  }
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.timeTable {
  font-family: Nanum;
  display: grid;
  font-weight: bold;
  grid-template-columns: repeat(9, 1fr) 2fr;
  grid-auto-rows: 40px;
  align-items: center;
  justify-content: center;
  gap: 3px;
  margin-bottom: 40px;

  @include mobile {
    font-size: 14px;
    grid-template-columns: repeat(2, 1fr);
  }

  & > div {
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    &:nth-child(odd) {
      background-color: #f2f2f2;
    }
    &:nth-child(even) {
      background-color: #cccccc;
    }
  }

  &Empty {
    grid-column: span 4;
    background-color: unset !important;
    @include mobile {
      display: none;
    }
  }

  &Head {
    font-size: 22px;
    color: white;
    transform: translateY(-3px);
    grid-column: span 10;

    @include mobile {
      font-size: 16px;
      grid-column: span 2;
      transform: unset;
    }
  }

  &1 {
    @extend .timeTable;

    &Head {
      @extend .timeTableHead;
      background: linear-gradient(90deg, #ef8686, #e73d73);
    }

    &BG {
      color: white;
      background: linear-gradient(270deg, #ef8686, #e73d73);
    }

    &Alive {
      @extend .flexRow;

      & > div {
        @extend .flexRow;
        align-items: center;

        &:first-child {
          margin-right: 15px;

          @include mobile {
            margin-right: 7px;
          }
        }
      }
    }
  }

  &2 {
    @extend .timeTable;

    &Head {
      @extend .timeTableHead;
      background: linear-gradient(90deg, #906aac, #4f4e9f);
    }

    &BG {
      color: white;
      background: linear-gradient(270deg, #906aac, #4f4e9f);
    }

    &Alive {
      @extend .flexRow;
      & > div {
        @extend .flexRow;
        align-items: center;

        &:first-child {
          margin-right: 15px;

          @include mobile {
            margin-right: 7px;
          }
        }
      }
    }
  }

  &Num {
    min-width: 25px;
    min-height: 25px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;

    @include mobile {
      font-size: 14px;
      min-width: 18px;
      min-height: 18px;
      margin: 0 3px;
    }
  }

  &Course {
    flex-direction: column;
    align-items: flex-start !important;
    grid-column: 8 span;
    grid-row: 2 span;
    padding-left: 20px;
    background-color: #f2f2f2 !important;

    & > div {
      display: grid;
      align-items: center;
      grid-template-columns: auto auto 1fr;
      margin: 5px 0;
    }

    @include mobile {
      grid-column: 2 span;
      text-align: left !important;
    }
  }
}

.bgGray {
  background-color: #f2f2f2 !important;
}
