@import "mixin";

.container {
  width: 100%;
  min-height: calc(100vh - 100px);
  display: flex;
  align-items: center;
}

.display {
  box-sizing: border-box;
  max-width: 1200px;
  width: 100%;
  padding: 20px 60px;
  margin: 0 auto;

  @include mobile {
    padding: 20px;
  }
}

.poster {
  margin-right: 30px;

  &Image {
    margin-left: auto;
    font-size: 0;
    width: 100%;
  }

  @include middle {
    margin-right: 15px;
  }

  @include mobile {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.info {
  min-width: 430px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 30px;

  @include middle {
    min-width: 360px;
    margin-left: 15px;
  }

  @include mobile {
    min-width: unset;
    margin-left: 0px;
  }

  &Content {
    padding-top: 20px;
    font-family: Nanum;
    flex: 1;
    display: grid;
    grid-template-columns: 80px 1fr;
    column-gap: 40px;
    grid-auto-rows: 60px;
    font-size: 18px;

    & > div {
      &:nth-child(odd) {
        text-align: justify;

        &:after {
          display: inline-block;
          content: "";
          width: 100%;
        }
      }
    }

    @include middle {
      font-size: 16px;
      grid-template-columns: 70px 1fr;
      column-gap: 20px;
      grid-auto-rows: 50px;
    }

    @include mobile {
      grid-template-columns: 60px 1fr;
      column-gap: 15px;
      grid-auto-rows: 40px;
      font-size: 14px;
    }
  }
}

.content {
  display: flex;
  justify-content: center;

  & > div {
    flex: 1;
  }

  @include mobile {
    flex-direction: column;
  }
}

.title {
  min-width: 430px;
  width: calc(50% - 30px);
  margin-left: auto;
  font-family: Nanum;
  padding: 10px 0;
  border-bottom: 1px solid lightgray;
  font-size: 28px;

  &Desktop {
    @extend .title;
    @include middle {
      min-width: 360px;
      width: calc(50% - 15px);
      font-size: 20px;
    }
    @include mobile {
      display: none;
    }
  }

  &Mobile {
    @extend .title;
    display: none;
    @include mobile {
      font-size: 18px;
      width: 100%;
      min-width: unset;
      display: block;
    }
  }
}

.buttons {
  cursor: pointer;
  display: flex;
  justify-content: space-between;

  & > div {
    font-family: Nanum;
    padding: 15px 0;
    text-align: center;
    max-width: 250px;
    width: 100%;
    background: black;
    color: white;
    font-size: 16px;
    font-weight: bold;

    &:first-child {
      margin-right: 20px;
    }

    @include mobile {
      font-size: 14px;
    }
  }
}
