.container {
}

.title {
  font-size: 28px;
  font-weight: bold;
  padding: 30px 0 60px;
}

.list {
  display: grid;
  max-width: 800px;
  border: solid 1px #333333;
  margin-bottom: 20px;
}

.item {
  padding: 8px 0;
  display: grid;
  grid-template-columns: 50px 1fr 100px;
  gap: 10px;

  & > div {
    &:first-child,
    &:last-child {
      text-align: center;
    }
  }

  &:not(:last-child) {
    border-bottom: solid 1px gray;
  }

  &Row {
    @extend .item;
    cursor: pointer;
  }

  &Head {
    @extend .item;
    background: #333333;
    color: white;
    & > div {
      font-weight: bold;
    }
  }
}

.content {
  max-width: 100%;
  border-bottom: 1px solid lightgray;
  margin-bottom: 20px;

  &Container {
    width: 800px;
  }

  &Top {
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
  }

  &Title {
    font-size: 28px;
    margin: 10px 0;
  }

  &Created {
    font-size: 18px;
    color: gray;
  }
}

.buttons {
  display: flex;
  width: 350px;
  justify-content: space-between;

  & > div {
    cursor: pointer;
    width: 150px;
    padding: 15px 0;
    text-align: center;
    background: #333333;
    color: white;
  }
}
