.editor {
  max-width: 900px;
  width: 100%;
}

.file {
  font-family: Nanum;
  display: flex;
  align-items: center;
  margin-bottom: 5px;

  &Name {
    margin-right: 10px;
  }

  &Delete {
    cursor: pointer;
    padding: 3px;
    border: solid 1px;
  }
}
