.container {
  width: 800px;
}

.editor {
  min-width: calc(100% - 82px);
  height: 500px;
}

.file {
  font-family: Nanum;
  display: flex;
  align-items: center;
  margin-bottom: 5px;

  &Name {
    margin-right: 10px;
  }

  &Delete {
    cursor: pointer;
    padding: 3px;
    border: solid 1px;
  }
}

.titleInput {
  height: 35px;
  width: 100%;
}

.section {
  display: flex;
  margin-bottom: 20px;

  &Title {
    margin-top: 5px;
    font-size: 15px;
    min-width: 80px;
  }
}
